*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --section-back-color: hsl(200, 0%, 97%);
    --site-orange: hsl(24, 100%, 50%);
}

[contenteditable] {
    outline: 0px solid transparent;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    min-height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin: 0;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    position: relative;
}

#background {
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(180deg, hsl(195, 100%, 45%), hsl(250, 100%, 60%));
}

a {
    text-decoration: none;
}

nav {
    position: relative;
}

main {
    position: relative;
    width: 100%;

}

header {
    position: relative;
    min-width: 16.5rem;
    width: 84%;
    max-width: 21rem;
    padding-block: 1.3rem;
    padding-right: 3%;
    border-bottom-right-radius: 1.75rem;
    background-color: var(--section-back-color);
}

.header-title {
    max-width: 18rem;
    letter-spacing: 0.17rem;
    font-size: 2.3rem;
    text-align: center;
}
.header-subtitle {
    letter-spacing: 0.18rem;
    font-size: 1.23rem;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
}

.section-header {
    display: inline-block;
    min-width: 60%;
    margin-top: 1.5rem;
    border-bottom: solid 0.25rem var(--site-orange);
    padding: 0.5rem;
    background-color: var(--section-back-color);
}

.project-card {
    width: 84%;
    margin-top: 0.75rem;
    border-radius: 0.51rem;
    padding: 0rem;
    background-color: var(--section-back-color);
    display: grid;
    grid-template-areas: "bar bar" "text text" "img img" "live code";
    grid-template-columns: repeat(2, 1fr);

}
.project-left {
    margin-left: 3%;
    margin-right: auto;
}
.project-right {
    margin-right: 3%;
    margin-left: auto;
}
.project-top-bar {
    grid-area: bar;
    min-height: 0.75rem;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: hsl(24, 0%, 34%);
}
.project-description {
    grid-area: text;
    padding: 0.55rem;
    padding-top: 0.2rem;
}
.project-description h3 {
    font-size: 1.45rem;
    border-bottom: solid 2px black;
}
.project-description p {
    text-align: justify;
    word-wrap: break-word;
}
.project-img {
    grid-area: img;
    width: 100%;
}
.button {
    width: 100%;
    padding: 0.65rem;
    border: solid 0.1rem;
    display: inline-block;
    text-align: center;
    color: white;
}
.live-button {
    grid-area: live;
    border-bottom-left-radius: 0.5rem;
    border-color: var(--site-orange);
    background-color: var(--site-orange);
}
.live-button:hover {
    background-color: hsl(24, 100%, 67%);
    color: black;
}
.code-button {
    grid-area: code;
    border-bottom-right-radius: 0.5rem;
    border-color: black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.code-button:hover {
    background-color: hsl(24, 0%, 34%);
}

#experience details {
    width: 100%;
    border-bottom: solid 1px black;
    padding-inline: 0.5rem;
    padding-block: 0.75rem;
    background-color: var(--section-back-color);
}
#experience summary {
    font-size: 1.125rem;
    font-weight: 600;
    padding-left: 2.5rem;
    text-indent: -2.5rem;
}
#experience details:last-child {
    border-bottom: none;
}

@media screen and (min-width: 540px) {
    .project-card {
        grid-template-areas: "bar bar" "img text" "live code";
    }
    
}